@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

$font-family-sans-serif: 'Protest Riot', sans-serif !important;

body {
    font-family: $font-family-sans-serif;
    font-size: 1.8rem;
}